body{
    background-color: rgb(100, 100, 100);
    color: black;
}
nav{
    text-align: center;
}
nav a{
    text-decoration: none;
    font-size: 15px;
    color: black;
    font-weight: bold;
}
a:hover{
    background-color: rgb(94, 141, 94);
}
h1,h2{
    font-size: 25px;
    color:  rgb(94, 141, 94);
}
p{
    font-size: 18px;
}
img{
    border:10px solid;
    border-radius: 15px;
    border-color: rgb(94, 141, 94);
}

small{
    font-size: 15px;
}
div a{
    color: black;
    font-size: 15px;
    text-decoration: none;
}